<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NewageAuto.Properties.Settings.NewageAutosConnectionString"
            connectionString="Data Source=FEMI-BLAZER\SQLEXPRESS;Initial Catalog=NewageAutos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>